input {
    width: 120px;
}

.container {
    width: 500px;
    margin left: 10px;
}

#button {
    margin-top: 20px;
}

.containerinput {
    width: 130px;
    background-color: beige;
    padding: 10px;
}